
body {
  background-color: black;
}
h1 {
  color: white;
  font-family: Verdana;
  font-weight: normal;
  font-size:50px;
  text-align: center;
}

.downloadlink {
  color: aquamarine;
  font-size:16px;
  text-align: center;
}

h2 {
  font-family: Verdana;
  font-weight: 300;
  font-size: 42px;
  text-align: center;
  color: white;
}

p{
  font-family: Verdana;
  font-size: 21px;
  color: grey;
  text-align: center;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
}
